name: pushing to AWS

on:
  push:
    branches:
      - main

  workflow_dispatch: 

    inputs:
      # defines wha tlevel of logs are needed when manually running the flow 
      logLevel:
        description: 'log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      # definnes the OS to run the job onn
      chosen-os:
        required: true
        type: choice
        options:
          - ubuntu-latest
          - ubuntu-20.04
          - self-hosted

jobs:

  lint-test-build:
    runs-on: "${{ inputs.chosen-os || 'ubuntu-latest'}}"

    services:
      mysql: 
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: Password
          MYSQL_DATABASE: planes
        ports: 
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost -pPassword"
          --health-intervals=10s
          --health-timeout=5s
          --health-retries=3 

    # allows you to run mutiple versions of python to test it on
    strategy:
      matrix:
        python-version: [3.11] 
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: set up python
        uses: actions/setup-python@v4
        with: 
          python-version: ${{ matrix.python-verion }}

      - name: install python vitrual enviromnet
        run: pip install virtualenv
      
      - name: virtualenv
        uses: actions/cache@v3
        id: cache-venv
        with: 
          path: venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-venv-
      
      - name: activate virtual environment
        run: python -m venv venv && source venv/bin/activate && python -m pip install --upgrade pip && pip install flake8 && pip3 install -r requirements.txt

      - name: lint with flakes
        run: |
          . venv/bin/activate && flake8 backend/

      - name: wait for SQL
        run: |
          sudo apt-get update && sudo apt-get install -y mysql-client
          for i in {1..10}; do 
              if mysql -h 127.0.0.1 -P 3306 -u root -pPassword -e "SELECT 1;" &> /dev/null; then
                echo "mysql is ready"
                break
              fi
              echo "waiting for mysql"
              sleep 5
          done

      
        # actuall runs tests
      - name: run tests
        run: . venv/bin/activate && pytest

      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID_ROOT }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ROOT }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Login to Amazon ECR
        id: login-ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: build image
        env: 
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry}}
          ECR_REPOSITORY: project_plane_repo
          IMAGE_TAG: be_${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ./backend
      
      - name: Tag image as latest and push
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: project_plane_repo
          IMAGE_TAG: be_devops_${{ github.sha }}
        run: |
          docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest


  build: 

    runs-on: ubuntu-latest

    services:
      mysql: 
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: Password
          MYSQL_DATABASE: planes
        ports: 
          - 3306:3306
        



    steps:
      - uses: actions/checkout@v4

      # sets up poython to runn tests
      - name: set up Pyhton
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: install python vitrual enviromnet
        run: pip install virtualenv
      
      - name: virtualenv
        uses: actions/cache@v3
        id: cache-venv
        with: 
          path: venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-venv-
      
      - name: activate virtual environment
        run: python -m venv venv && source venv/bin/activate && python -m pip install --upgrade pip && pip3 install -r requirements.txt

      # actuall runs tests
      - name: run tests
        run: . venv/bin/activate && pytest


      # I'm dockerisng rather than zipping in tutorial he zips, I'm better
      - name: dockerize backend
        run: docker build . --file backend/Dockerfile --tag project_plane_backend:$(date +%s)

      - name: dockerize frontend
        run: docker build . --file frontend/Dockerfile --tag project_plane_frontend:$(date +%s)

  CD:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: install AWS CLI
        uses: unfor19/install-aws-cli-action@v1
        with: 
          version: 1
        env: 
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_SECRET_ACCESS_KEY_ID_ROOT}}
      #- name: get docker containers
